@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FILE: styles.css or a global CSS file */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spin 1s linear infinite;
  }

  :root {
    --font-size: 16px;
  }
  
  body {
    font-size: var(--font-size);
  }

  /* FILE: src/index.css */
.fade-out {
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* styles.css */
.sidenav {
  width: 80px; /* Adjust the width as needed */
  min-height: 100vh; /* Full viewport height */
  background-color: #1a202c; /* Adjust the background color as needed */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.content {
  flex: 1; /* Take up the remaining space */
  padding: 16px; /* Add some padding */
}